*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.stunning{
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    row-gap: 30px;
    flex-direction: column;
}
.nav{
    height: auto;
    width: 100%;
    padding-inline: 3%;
    padding-block: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}
.nav img{
    width: 150px;

}
.nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 50px;
}

.nav ul li:first-child{
    color: black;
    text-decoration: underline;
}

.nav ul li{
    font-size: 19px;
    color: rgb(182,179,178);
    list-style: none;
}

.nav button{
    height: 50px;
    width: auto;
    border-radius: 15px;
    padding-inline: 30px;
    background-color: rgb(255,216,219);
    color: rgb(130,88,255);
    
}

/* con */
.con{
    height: auto;
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-wrap: wrap;
    padding-inline: 8%;
}

.left{
    height: 650px;
    width: 45%;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    justify-content: space-between;
    padding-block: 3%;
    
}
.txt{
    height: auto;
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    row-gap: 30px;

}
.left h1{
    font-size: 80px;
    width: 90%;
}
h1 span{
    color: rgb(130,88,255);
}
.left p{
    font-size: 19px;
    width: 60%;
}



.spn{
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-wrap: wrap;
    column-gap: 50px;
}
.spn button{
    height: 50px;
    width: auto;
    padding-inline: 30px;
    border-radius: 15px;
    font-size: 16px;
    background-color:rgb(130,88,255) ;
    color: white;
    border: none;
}
.spn button:last-child{
    padding-inline: 15px;
    height: 50px;
    font-size: 19px;
    background-color: white;
    color: black;
    border: 0.3px solid grey;
}

.spn1{
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 30px;
}

.spn1 h1{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    width: auto;
    column-gap: 10px;
}
.spn1 h1 i{
    background-color: rgb(253,178,199);
    border: 10px solid rgb(253,178,199);
    border-radius: 20px;
}

.spn1 img{
    width: 150px;
}
.right{
    height: 650px;
    width: 55%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("./gdjagdjasd.png");
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}

@media(max-width:768px){
    .left{
        width: 100%;
        height: auto;
        row-gap: 50px;
        
    }
    .con{
        flex-direction: column-reverse;
    }
    .right{
        width: 100%;
    }
    .nav ul{
        display: none;
    }
    .left h1{
        font-size: 40px;
    }
    .spn1 h1{
        font-size: 16px;
    }

}